
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    /* height: 100%; */
}

.main-container {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: rgb(237, 237, 247);
    padding: 5rem;
}
.main-content {
    background: linear-gradient(270deg, #fce4ec, #f8bbd0, #ffccbc, #fff9c4);
    background-size: 1000% 1000%;
    animation: gradientAnimation 10s ease-in-out infinite;
    min-height: 400px;
    border-radius: 15px;
    padding: 1rem;
    box-shadow: 5px 5px 5px rgb(227, 226, 224);
}
.flex-space-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
select {
    border-radius: 10px;
    background-color: rgb(245, 180, 156);
    padding: 0.4rem;
}
table {
    border: 2px solid black;
    margin-block: 1rem;
    /* height: 50px; */
    max-height: 100px;
    overflow-y: auto;
    /* min-width: 483px; */
}
table thead {
    position: sticky;
    top: 0;
    z-index: 10;
    background-color: rgb(140, 220, 140);
}
table tbody:nth-child(even) {
    background-color: rgb(198, 235, 222);
}
table tbody:nth-child(odd) {
    background-color: rgb(158, 188, 178);
}
table tbody:hover:not(:first-child) {
    opacity: 70%;
}
th, td {
    padding: 0.5rem;
}

input[type="number"] {
    width: 40px;
    /* -webkit-appearance: none; */
    /* appearance: none; */
}
button {
    padding: 0.5rem;
    border-radius: 10px;
    background-color: rgb(242, 144, 109);
    border: none;
    outline: none;
    cursor: pointer;
    transition: 0.3s ease;
}
button:hover {
    transform: scale(1.05);
}
#total-amount {
    font-weight: bold;
    font-size: 1.5rem;
    color: rgb(84, 188, 84);
}
#products-container {
    border: 1px solid black;
    padding: 1rem;
}
.item {
    display: flex;
    justify-content: space-between;
    padding: 0.2rem;
}
.prod-price {
    color: rgb(14, 57, 58);
    font-weight: bold;
}


@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
